// Base :: Variables

// Theme: Apline Night

$color-black: #0F1D19;
$color-light-grey: #FAFAFA;
$color__dark--blue: #1A90DB;
$color__dark--gold: #FFBB3D;
$color__dark--green: #44DEB5;
$color__dark--indigo: #3B71FF;
$color__dark--pink: #F496A9;
$color__dark--red: #EC6A6A;
$color__dark--grey: #CBD0CF;

// Theme: Coastal Shores

$color__coastal--pink: #FFE1E7;
$color__coastal--indigo-600: #142C69;
$color__coastal--indigo-500: #6B6BA9;
$color__coastal--indigo-400: #687598;
$color__coastal--gold: #5c5a57;


$color__coastal--pastel-green: #DDF3E7;
$color__coastal--pastel-yellow: #FFF3DD;
$color__coastal--pastel-blue: #D3ECFC;
$color__coastal--pastel-purple: #D9DBFF;
$color__coastal--pastel-pink: #FFE1E7;
$color__coastal--pastel-indigo: #DCE5FB;


// Theme : Sunset Drive

$color__sunset--purple: #142C69;
$color__sunset--yellow: #FFF3DD;

// Theme : Browso

$color__browso--blue: #e5f4ff;
$color__browso--lavender: #dfe0f5;

// Theme: Red Dawn

$color__rd--crimson: #640A0E;
$color__rd--red: #9B2325;
$color__rd--pink: #FAA6A7;
$color__rd--gold: #DF7714;


// Theme: Browso 98

$color__b8--grey: #C6CECF;
$color__b8--dark-grey: #4E5252;
$color__b8--black: #191516;
$color__b8--green: #008081;
$color__b8--blue: #142C69;




$font-headings: 'Rubik', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// $font-headings: 'Public Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-body: 'Karla', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// $font-body: Helvetica, Arial, "Lucida Grande", sans-serif;


$font-color-title: _color(white);
$font-color-body: _color(white);
