// Themer

.c-acq {
    background: _color(white);
    display: none;
    margin: 4em auto 3em;
    position: relative;
    width: 95%;
    z-index: 500;
  
    &.in-view {
      display: block;
    }
  
    @include breakpoint(lg) {
      left: inherit;
      margin: inherit;
      position: absolute;
      left: 40%;
      top: 10%;
      width: 740px;
      overflow: hidden;
    }
  
    .c-viewer {
      pointer-events: all;
      height: 100%;
  
      @include breakpoint(lg) {
          min-height: 503px;
       }
    }
  
    &__logo {
      text-align: center;
      padding: 60px 0 30px;
    }
  
    &__button {
      text-align: center;
      margin-bottom: 40px;
    }
  
    &__masthead {
      background: _color(white) url('/assets/acq-hero--light.jpg') top center;
      background-size: cover;
      height: 260px;
    }
  
    &__module {
      display: none;
      padding: 3em 5em;
  
      p {
        color: $color__coastal--indigo-600;
        font-size: 18px;
        line-height: 140%;
  
        & + button {
          margin-top: 2em;
        }
      }
  
      span {
        color: lighten($color__coastal--indigo-600, 30%);
      }
  
      &.is-active {
        display: block;
      }
    }
  
    &__link {
      border: 0;
      background: none;
      padding: 0;
      display: block;
      text-align: left;
      color: $color__coastal--indigo-600;
      margin-bottom: 1em;
      position: relative;
      line-height: 140%;
  
      &:active, &:focus {
        outline: 0;
      }
  
      &:before {
        content: ">";
        position: absolute;
        left: -12px;
        top: 0;
        color: $color__coastal--indigo-600;
        opacity: 0.5;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  
  }
  